.container{
  padding: 0;
}
.add-container {
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-around;
    flex-direction: column;
}
.main-title{
    padding: 20px;
    margin: 0 auto;
    font-weight: 600;
    color: #000;
    font-size: 1.5rem;
   
    
    
}
.order{
  z-index: 20;
}
.navbar{
  z-index: 2;
}
  .collapse-content {
    width: 90%;
    margin: auto;
    z-index: 1;
    
  }
  
  .collapse {
    background: #fff;
  }
  
  .collapse > a {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.9rem 1.8rem;
    color: #fff;
    position: relative;
    text-decoration: none;
  }
  

  
  .collapse:nth-child(odd) > a {
    background: #444;
  }
  .collapse:nth-child(even) > a {
    background: #1e1e1e;
  }
  
  
  .collapse > a:before {
    content: "";
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: 25px;
    left: 8px;
  }
  
  .inner-content {
    padding: 1.8rem;
  }
  
  .content {
    max-height: 0em;
    transition: 0.3s linear 0s;
    overflow: hidden;
  }
  
  .collapse + .collapse > a {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  h3 {
    margin-bottom: 15px;
  }
  
  .collapse:target .content {
    max-height: 15em;
  }
  
  .collapse:target a:before {
    transform: rotate(-90deg);
  }

  .total{
      position: absolute;
      right: 1rem;
  }
  
.search-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-icon {
    font-size: 2rem;
}

.search-input {
    margin-bottom: 2rem ;
}