

.orderHead{
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #3e3e3e;
    background-color: #e3e3e3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.orderBody{
    padding: 30px;
}
.orderBody > input{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #3e3e3e;
    margin: 20px auto;
    display: block;
}


.orderFoot{
    padding: 10px;
    border-top: 1px solid #3e3e3e;
    
}


.orderForm, .msg-container{
    background-color: #f8f8f8;
    width: 800px;
    z-index: 1000;
	margin: auto;
	padding: 25px;
	border-top: 10px solid #000;
	border-radius: 4px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
    border-left: 1px solid #e3e3e3;
    position: relative;

}
.msg-container{
    border-top: 1px solid white;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 0.2rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

.order{
    transition: all 0.45s;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}


.order:target{
    visibility: visible;
    opacity: 1;
    
}

.dimmed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
}
.dimm-anchor:hover{
    cursor: auto;
}
