:root {
    --btn-color: #6f2702;
    --main-color: #b44023;
}

html {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

/* Global Css */
.form-input {
    height: 2.7rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: .1rem .7rem;
    margin-top: .3rem;
    font-size: 1rem;
    width: 20rem;
    background: #8686869e;
    color: #fff;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
}

.text-white {
    color: #fff;
}

/* Start Of The Form */
.login-container {
    background-size: cover;
    background-image: url(../images/cafe.jpg);
    width: 100%;
    height: 100vh;
    font-size: 1.3rem;
    color: #fff;
}


.login-container .overly {
    background-color: #0000007c;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container .login-form {
    border-radius: 15px;
    background-color: #92929220;
    border: 2px solid #fff;
    width: 25rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-container label {
    display: block;
}

.login-container ::-webkit-input-placeholder {
    color: #fff;
}

.login-form .submit {
    background-color: var(--btn-color);
    border: 2px solid var(--btn-color);
    color: #fff;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

/* Start Of Home Page */

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    padding-right: 3rem;
    padding-top: .6rem;
}

.navbar .menu-left {
    display: flex;
    list-style-type: none;
}

.navbar a {
    margin-left: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    text-decoration: underline;
}


.navbar a.logo {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navbar a.active {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-around;
}

/* search form */

.search-group {
    display: flex;
}

.search-btn {
    background: transparent;
    border: none;
    width: 0;
    height: 0;
    cursor: pointer;
    margin-right: -20px;
}

.search-icon {
    font-size: 2.3rem;
}

.search-input {
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    outline: none;
    margin-right: -47px;
    margin-top: -3px;
    width: 94%;
}

/* Left Cart */
.container .cart {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    height: 60vh;
    flex-basis: 30%;
    border: 2px solid #000000;
    padding: .5rem;
    height: 100%;
}

.cart .drinks-list {
    list-style: none;
}

.cart .drinks-list li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart .drinks-list li i {
    cursor: pointer;
}

.cart .notes,
.cart .room,
.cart .confirm {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

.btn-confirm {
    background-color: #000000;
    color: #fff;
}

/* Drinks  */
.container .content {
    flex-basis: 65%;
}

.items {
    display: flex;
    flex-flow: row wrap;
    /* width: 65%; */
}

.item {
    flex: 0 23%;
    margin-right: .4rem;
    padding: .3rem;
    background-color: #fff;
}

.item img {
    width: 100%;
}

.item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    border: 2px solid #000;
    padding: 4px 14px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.add-to-cart:hover {
    color: #fff;
    background-color: #000;
}